.profile__logo-edit {
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 320px) {
    .profile__logo-edit {
        width: 7.5px;
        height: 7.5px;
    }
}

@media screen and (min-width: 692px) {
    .profile__logo-edit {
        width: 10px;
        height: 10px;
    }
}